body
{
    color: #333333;
    background-color: #bababa;
    width: calc(min(100vw, 100vh) + 4rem);
    margin: auto;
}

h1
{
    text-align: center;
    margin: 0;
    padding: 1rem 0;
}

main
{
    background-color: #e0e0e0;
    padding-bottom: 2rem;
}

main .grid
{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: min(100vw, 100vh);
    height: min(100vw, 100vh);
    margin: auto;
}

.lt
{
    background-color: #ffcfa0;
}

.dt
{
    background-color: #d28c45;
}