body
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    background-color: #bababa;
    width: min(calc(min(100vw, 100vh) + 2rem), 100vw);
    min-height: 100vh;
    margin: auto;
}

h1
{
    text-align: center;
    margin: 0;
    padding: 1rem 0;
}

.borders
{
    display: flex;
}

.borders .border
{
    width: min(calc(100vw - 100vh), 1rem);
    align-self: stretch;
}

.borders .border.left
{
    background: linear-gradient(to right, #0000, #0001 60%, #0004);
}

.borders .border.right
{
    background: linear-gradient(to left, #0000, #0001 60%, #0004);
}

main
{
    background-color: #e0e0e0;
    padding: 0 2rem 2rem;
}

.board
{
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    width: calc(min(100vw, 100vh) - 4rem);
    height: calc(min(100vw, 100vh) - 4rem);
    margin: auto;
}

.board .lt
{
    background-color: #ffcfa0;
}

.board .dt
{
    background-color: #d28c45;
}

.board .piece, .board .move-target
{
    display: block;
    width: 100%;
    height: 100%;
}

.board .move-target
{
    background-color: #00ff0080;
}

.piece.dragging
{
    position: absolute;
}